.container {
  height: 70vh;
  background: url(images/pastel.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  color: white;
  font-family: "Segoe UI", sans-serif;
}

.avatar {
  height: 160px;
  width: 160px;
  position: relative;
}

.avatar > img {
  height: 90%;
  width: 90%;
  border-radius: 50%;
  border: 5px solid white;
}

.avatar span {
  position: absolute;
  right: 0;
  bottom: 5px;
  background-color: #f9637c;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
}

.content-box {
  min-width: 280px;
}
.content-box > h1 {
  font-size: 2.5rem;
}
.content-box > .profession {
  font-size: 1.3rem;
}
.content-box > .about {
  font-size: 1.1rem;
}
